.container {
  min-width: 60px;
  min-height: 100%;
  border-right: 1px solid var(--color-off-white);
}

@media (max-width: 81.25rem) {
  .container {
    width: 100%;
    max-width: 100%;
    display: none;
  }
}
