.baseIcon {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.baseIcon span{
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: 'Radial Trial', sans-serif;
  
}

.available {
  background-color: var(--color-green);
}
.unavailable {
  background-color: var(--color-red-secondary);
}
