.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 180%;
  padding: 24px 48px;
  gap: 12px;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 36px;
}


@media (max-width: 81.25rem) {
    .contentWrapper {
        flex-wrap: wrap; 
        flex-shrink: 0; /* Ensures no weird shrinking */
    }
    
}