.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 24px 48px;
  gap: 20px;
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 36px;
}


@media (max-width: 59.375rem) {
    .contentWrapper {
        flex-wrap: wrap; 
        flex-shrink: 0; /* Ensures no weird shrinking */
    }
    .pageContainer {
      padding: 16px 28px;
    }
}