.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray);
  white-space: nowrap;
}
