.CircleButton {
  border-radius: 50%;
  border: solid 1px var(--color-gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  cursor: pointer;
}

.CircleButton:hover {
  background-color: var(--color-gray-light);
}


@media (max-width: 40.62rem) {
  .CircleButton {
    width: 40px !important;
    height: 40px !important;
  }
}
