.container {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--color-off-white);
}

.logoContainer{
  position: relative;
}

.logo{
  min-width: 118px;
  min-height: 26px;
}