
.crumbWrapper {
  
}


.crumbWrapper:not(:first-of-type) {
    margin-left: 4px; /* e.g., 8px */

    &::before {
        content: '/';
        margin-right: 4px;
        color: var(--color-gray); 
    }
}

.crumbLink {
    color: var(--color-gray); 
    text-decoration: none;
    font-weight: var(--font-weight-regular); 
    white-space: nowrap;
}

.crumbLink:hover {
    color: var(--color-black); 
}