.nav {
  width: 100%;
  display: flex;
  background-color: var(--color-off-white);
  border-radius: 8px;
  min-height: 48px;
  align-items: center;
}

.navList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
}

.navList li {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  cursor: pointer;
  min-width: 144px;
}
.navList li:hover {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-decoration: none;
  color: hsla(200, 12%, 15%, 1);
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.navLink.active::after {
  width: 100%;
  left: 0;
  color: var(--color-black);
}

.navLink.active {
  font-weight: var(--font-weight-semibold);
  color: var(--color-black);
}

.navList::-webkit-scrollbar {
  max-height: 2px;
  background-color: transparent;
}
.navList::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb, #ccc);
  border-radius: 3px;
}

.navList::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-thumb-hover, #999);
}

.navList {
  scrollbar-color: var(--color-scroll-thumb, #ccc) transparent; /* thumb color | track color */
  scrollbar-width: thin; /* 'thin' or 'auto' */
}

@media (max-width: 59.375rem) {
  .navList li {
    min-width: 120px;
  }
}
